.menu{

    width: 100%;
    height: 60px;
    background-color: black;
   
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
   
.menu-item{
 
    text-decoration: none;
    color: white;
    padding: 21px 14px 21px 14px;  

}

.menu-item-active{
    text-decoration: none;
    color: white;
    padding: 21px 14px 21px 14px;  
    border-bottom: 2px solid var(--color-secun);
    background-color: #1d1d1d;

}

.menu-item:hover{
    background-color: #1d1d1d;
    border-bottom: 2px solid var(--color-secun);  
}

.menu-boton{
    display: none;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
}

.menu-img{
    width: 100px;
    text-align: center;
    animation-name: planeta2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

@keyframes planeta2{
    0%{ margin-top: 0;  }
    50%{ margin-top: 10px;  }
    100%{ margin-top: 0;  }
}

.menu-mobil{
  display: none;
  z-index: 100;
}

.menu-mobil_item{
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 5%;
    width: 100%;
}

.menu-mobil_item:hover{
    background-color: #1d1d1d;
    border-bottom: 2px solid var(--color-secun); 
  }
  

.menu-mobil_active{
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 5%;
    width: 100%;
    background-color: #1d1d1d;
    border-bottom: 2px solid var(--color-secun); 
}


@media (max-width: 720px)
{
    .menu{
        justify-content: space-between;
        z-index: 50;
      }
      .menu-item, .menu-item-active{
        display: none;
      }

      .menu-mobil{
        display: initial;
        position: fixed;
        width: 100%;
        height: 45%;
        top: 5%;
        right: -100%;
        z-index: 50;
        
        background-color: black;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        animation-name: menu1;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
      }
      
      @keyframes menu1 {
        
         0%{ right: -100%; opacity: 0;}
         100%{  right: 0%; opacity: 1;}
       
      
      }
      
      @keyframes menu2 {
        
        0%{ right: 0%; opacity: 1;}
        100%{  right: -100%; opacity: 0;}
      
      
      }
      
      .menu-boton{
       color: white;
      }
      
      .menu-item{
        display: none;
      }
      
      .menu-img{
        width: 5em ;
        animation: none;
        margin-top: 2%;
        margin-left: 5%;
      }
       

}